.statistics {
    width: 340px;
    margin: 30px auto;
    border: 1px solid rgb(15, 15, 15);
    text-align: center;
}

.title {
    padding: 30px;
    font-size: 18px;
    color: #64696e;
}

.stat-list {
    display: flex;
    justify-content: stretch;
    list-style: none;
    color: white;
}

.item {
    padding: 15px;
    width: 80px;
    background-color: rgb(119, 93, 191);
}

.label {
    display: block;
    margin-bottom: 10px;
}

.percentage {
    display: block;
}